.container{
    flex:1;
    border:1px solid #262A29;
    background-color: #303030;
}

.title{
    background-color: #171717 ;
    padding:20px;
    font-size: 20px;
    font-weight: 600;
}

.filters{
    padding: 16px;
}

.select{
    color: white;
    background-color: #30303027;
    border: 0.5 solid white;
}

.checkbox{
    margin: 2px;
    padding: 5px;
}

label{
    display: block;
    margin: 0 0 5px 0
}

.year{
    padding-right: 10px;
}

.text{
    margin-bottom: 5px;
    font-weight: 500;
}
.genere{
    margin-top: 20px;
    margin-bottom: 5px;
}

.close{
    display: none;
}

@media screen and (max-width: 768px){
    .container{
        display: none;
    }
}

@media screen and (max-width:600px) {
    .container{
        display: block;
        width: 200px;
        height: 100vh;
        position: absolute;
        top: 0;
    }

    .containerNotDisplay{
        display: none;
    }

    .title{
        display: none;
    }

    .close{
        display: block;
        float: right;
        padding:20px;
        font-size: 16px;
        font-weight: 200;
    }
    .select{
        font-size: 10px;
    }
}